<div class="content_stage">

  <div id="content_stage_bg-img">

        <video loop muted autoplay poster="assets/videos/stage_bg-vid/stage_bg-vid.png" id="fullscreen-bg_video_tablet">
            <source src="assets/videos/stage_bg-vid/stage_bg-vid.webm" type="video/webm">
            <source src="assets/videos/stage_bg-vid/stage_bg-vid.mp4" type="video/mp4">
            <source src="assets/videos/stage_bg-vid/stage_bg-vid.ogv" type="video/ogg">
        </video>

  </div>

  <!-- titles -->
  <div class="content_stage_titles">
    <!-- buzzwordz -->
    <div class="content_stage_titles_buzzwords">
      <h3>
        <span id="buzzwords_changeType_1">
          concept
        </span>
        <span id="buzzwords_changeType_2">
          art-direction
        </span>
        <span id="buzzwords_changeType_3">
          prototype
        </span>
        <span id="buzzwords_changeType_4">
          ui ux
        </span>
      </h3>
    </div>
    <!-- title -->
    <div class="content_stage_title title_type">
     <h2>
       <br>
        Another privileged white male<br>
        pretending to be successfull<br>
        is craving for your attention.
     </h2>
    </div>
    <div class="content_stage_scroll-line">
    </div>
  </div>



</div>
