
<!-- buzzwordz -->
<div class="content_stage_titles_buzzwords">
  <h3>

    <span id="buzzwords_changeType_1">
      concept
    </span>
    <span id="buzzwords_changeType_2">
      art-direction
    </span>
    <span id="buzzwords_changeType_3">
      prototype
    </span>
    <span id="buzzwords_changeType_4">
      ui ux
    </span>
  </h3>

</div>

  <div class="content_about">
    {% for page in site.pages %}
      {% if page.layout == 'about' %}
        {{page.content}}
      {% endif %}
    {% endfor %}
    </div
