<div class="content_stage">

  <div id="content_stage_bg-img">
  </div>

  <!-- titles -->
  <div class="content_stage_titles">
    <!-- buzzwordz -->
    <div class="content_stage_titles_buzzwords">
      <h3>
        <span id="buzzwords_changeType_1">
          concept
        </span>
        <span id="buzzwords_changeType_2">
          art-direction
        </span>
        <span id="buzzwords_changeType_3">
          prototype
        </span>
        <span id="buzzwords_changeType_4">
          ui ux
        </span>
      </h3>
    </div>
    <!-- title -->
    <div class="content_stage_title title_type">
     <h2>
       <br>
        Another privileged white male<br>
        pretending to be successfull<br>
        is craving for your attention.
     </h2>
    </div>

    <div class="content_stage_scroll">
      <span class="ui_type" id="content_stage_scroll_text">
        scrollllllllllllllllllllllllllllllllll
      </span>
    </div>

  </div>

</div>
