<!-- mobile background video stage -->
<div id="content_stage_fullscreen-bg">
    <video loop muted autoplay poster="assets/videos/placeholder/placeholder.png" id="fullscreen-bg_video">
        <source src="assets/videos/placeholder/placeholder.webm" type="video/webm">
        <source src="assets/videos/placeholder/placeholder.mp4" type="video/mp4">
        <source src="assets/videos/placeholder/placeholder.ogv" type="video/ogg">
    </video>
</div>

<!-- tablet background video stage -->
<div id="content_stage_fullscreen-bg_tablet">
    <video loop muted autoplay poster="assets/videos/placeholder/placeholder.png" id="fullscreen-bg_video_tablet">
        <source src="assets/videos/placeholder/sk8.webm" type="video/webm">
        <source src="assets/videos/placeholder/sk8.mp4" type="video/mp4">
        <source src="assets/videos/placeholder/sk8.ogv" type="video/ogg">
    </video>
</div>
