<!-- project kiNRW-->
  <div class="content_project_kiNRW" data-scroll-section>
    <div class="content_project_kiNRW_txt" data-scroll data-scroll-repeat data-scroll-speed="6">
      {% for page in site.pages %}
        {% if page.layout == 'project_kiNRW' %}

          <div>
            <div class="content_project_txt_subtitle">
              {{page.subtitle}}
            </div>

            <div class="content_project_txt_title">
              {{page.excerpt}}
            </div>

            <div class="content_project_cta">
              <a class="content_project_cta_type" href="{{ page.permalink }}">
                <div class="content_project_cta_type_container ">
                  <div class = "content_project_cta_arrow">
                    &#10149;
                  </div>
                  <div>MORE</div>
                </div>
              </a>
            </div>

          </div>

        {% endif %}
      {% endfor %}
    </div>
  </div>
