
<section id="section_footer" class="content_footer">
    
    <div class="content_project_txt">
      <div>
          <div class="content_project_txt_subtitle">
              contact
          </div>
          <div class="content_project_txt_title">
            I need work! 
          </div>
          <div class="content_project_txt_excerpt">
            Freelance or in-house, I don’t care anymore. 
          </div>
          {% include content_footer_cta.html %}
      </div>
    </div>
    
    <div class="ui_type" id="content_footer_copyright">
      <span id="content_footer_copyright_type">©2023 Holger Ardelt</span>
    </div>

</section>
