<!-- project: die Haeftlinge -->
<div id="content_project_dieHaeftlinge">

  <div id="content_project_dieHaeftlinge_txt">

    {% for page in site.pages %}
      {% if page.layout == 'project_dieHaeftlinge' %}

        <div>

          <div class="content_project_dieHaeftlinge_txt_subtitle">
            {{page.subtitle}}
          </div>

          <div class="content_project_dieHaeftlinge_txt_title">
            {{page.title}}
          </div>

          <div class="content_project_dieHaeftlinge_cta">
            <a class=" content_project_cta_type" href="{{ page.permalink }}">
              <div class="content_project_cta_type_container custom-cursor_hoverable">
                <div class = "content_project_cta_arrow">&#10149;</div>
                <div>MORE</div>
              </div>
            </a>
          </div>

        </div>

      {% endif %}
    {% endfor %}

  </div>

  <div id="content_project_dieHaeftlinge_img">
    <img src="{{ site.baseurl }}/assets/graphics/kz-gedenk-hailfingen-tailfingen_cover.png">
  </div

</div>
</div>
