<section >
    <div id="content_projects_container">
        <div class="blog-post_content_height content_projects_titles"  >
        <div class="project_content about_txt_title" >
            Blog
        </div>
        <div class="project_content project_txt" >
            <p>Notes on the Good, the Bad and the Ugly.</p>
        </div>
        </div>
        <div class="content_teaser_notes_img" ></div>
        <div class="content_projects_type_pos" id="content_notes_type">
        {% include svg_wortmarke_notes.html %}
        </div>
        <div class="content_projects_cta">
        <a class="content_footer_cta_type" href="{{ site.url }}/notes/">
            <div class="content_footer_cta_type_container custom-cursor_hoverable content_projects_cta_type_container">
            <div class = "content_footer_cta_arrow">
                &#10149;
            </div>
            <div class="content_projects_cta_label">explore</div>
            </div>
        </a>
        </div>
    </div>
</section>
