<!-- buzzwordz -->
<!--
<div class="content_stage_head ui_type">
  concept art-direction motion ux ui prototype development
</div>
-->

<!-- background video stage -->
<div id="stage_fullscreen-bg">
    <video loop muted autoplay poster="assets/videos/placeholder/placeholder.png" id="fullscreen-bg_video">
        <source src="assets/videos/placeholder/placeholder.webm" type="video/webm">
        <source src="assets/videos/placeholder/placeholder.mp4" type="video/mp4">
        <source src="assets/videos/placeholder/placeholder.ogv" type="video/ogg">
    </video>
</div>

<!-- pressAndHold-Btn -->
<div id="content_stage">
  <div id="content_stage_pressAndHold-btn">
    <div class="layout_content_stage_pressAndHold">
      <div id="rotate_pressAndHold">
        <div id="stage_logoType" class="ui_type">
          ORM&#x200A;&centerdot;&#x200A;CODE&#x200A;&centerdot;&#x200A;TYPE&#x200A;&centerdot;&#x200A;HARTGELD&#x200A;&centerdot;&#x200A;F
        </div>
      </div>
    </div>
  </div>
</div>





  <div class="ui_content">
    {{ content }}
  </div>
