
<section data-scroll-section id="section_about">
  <div class="section-inner" data-scroll data-scroll-repeat data-scroll-call="testEvent1" data-scroll-speed="8">
      <!-- buzzwordz -->
      <div class="content_stage_titles_buzzwords" >
        <h3 >
          <span id="buzzwords_changeType_1">
            concept
          </span>
          <span id="buzzwords_changeType_2">
            art-direction
          </span>
          <span id="buzzwords_changeType_3">
            prototype
          </span>
          <span id="buzzwords_changeType_4">
            ui ux
          </span>
        </h3>
      </div>
  
      <div class="content_about" >
        <div data-scroll data-scroll-repeat class="content_about_txt">
          {% for page in site.pages %}
            {% if page.layout == 'about' %}
              {{page.content | markdownify | strip_html}}
            {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
</section>
