<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% include scripts_head.html %}
  <link rel="stylesheet" type="text/css" href="{{ 'style/main.css' | relative_url }}">
  <link rel="me" href="https://mastodon.social/@hartgeld" />
  <link rel="me" href="mailto:mail@holgerardelt.de" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="icon" href="https://zany.sh/favicon.svg?text=&#128612;&background-color=%23eae5e3&text-color=%23524748">
  <!--
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | prepend: site.baseurl }}">
  -->
</head>

