<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% include scripts_head.html %}
  <link rel="stylesheet" type="text/css" href="{{ 'style/main.css' | relative_url }}">
  <link rel="me" href="https://mastodon.social/@hartgeld" />
  <link rel="me" href="mailto:mail@holgerardelt.de" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="icon" href="https://zany.sh/favicon.svg?text=&#128612;&background-color=%23eae5e3&text-color=%23524748">
</head>

