<head>
<!--  _                _             _     _                          _      _ _   
 | |              | |           | |   | |                        | |    | | |  
 | |__   __ _ _ __| |_ __ _  ___| | __| | __   _____ _ __ ___  __| | ___| | |_ 
 | '_ \ / _` | '__| __/ _` |/ _ \ |/ _` | \ \ / / _ \ '__/ _ \/ _` |/ _ \ | __|
 | | | | (_| | |  | || (_| |  __/ | (_| |  \ V /  __/ | |  __/ (_| |  __/ | |_ 
 |_| |_|\__,_|_|   \__\__, |\___|_|\__,_|   \_/ \___|_|  \___|\__,_|\___|_|\__|
                       __/ |                                                   
                      |___/                                                    -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% include scripts_head.html %}
  <link rel="stylesheet" type="text/css" href="{{ "style/main.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "node_modules/locomotive-scroll/dist/locomotive-scroll.min.css" | relative_url }}">
</head>
