<!-- init libraries -->

<!-- netlify cms -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- jquery -->
<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>

<!-- ui_home -->
<!-- ui_home – libraries: draw & animate -->
<script src="{{'/node_modules/simplefocus-flowtype-js/flowtype.js' | prepend: site.baseurl}}"></script>  <!--responsive web typography: https://github.com/simplefocus/FlowType.JS -->
<script src="{{'/node_modules/letteringjs/jquery.lettering.js' | prepend: site.baseurl}}"></script> <!-- split text in seperate letter/spans: https://github.com/davatron5000/Lettering.js -->
<script src="{{'/node_modules/circletype/dist/circletype.min.js' | prepend: site.baseurl}}"></script> <!-- curve type: https://circletype.labwire.ca -->
<!-- ui_home – typeTransform  -->
<script src="{{'/assets/javascript/ui_home.js' | prepend: site.baseurl}}"></script>
