
<script src="{{'/assets/javascript/ui_home.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_home_shuffle-text.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_menu.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_darkMode.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/content_projects.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/content_teaser_notes.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/content_teaser_mygram.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/content_projects_cta.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_custom-cursor.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_custom-cursor_outer-circle.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_scroll.js' | prepend: site.baseurl}}"></script>
<script type="module" src="{{'/assets/javascript/content_stage_bg-img.js' | prepend: site.baseurl}}"></script>
<script type='module' src="{{'/assets/javascript/home_stage_bg-img_inView.js' | prepend: site.baseurl}}"></script>
<script type='module' src="{{'/assets/javascript/content_footer_cta.js' | prepend: site.baseurl}}"></script>
<script type='module' src="{{'/assets/javascript/content_footer_copyright.js' | prepend: site.baseurl}}"></script>
<script type="module" src="{{'/assets/javascript/content_stage_bg-type.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_preloader.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/netlify_redirectToCMS.js' | prepend: site.baseurl}}"></script>


