
<!------------->
<!-- scripts -->
<!------------->
<!-- ui_home – custom typeTransform  -->
<script src="{{'/assets/javascript/ui_home.js' | prepend: site.baseurl}}"></script>
<!-- ui_home logo as content element on stage -->
<script src="{{'/assets/javascript/content_stage_logo_onlyOnMobile.js' | prepend: site.baseurl}}"></script>
<!-- ui_menu: custom text animation -->
<script src="{{'/assets/javascript/ui_menu.js' | prepend: site.baseurl}}"></script>
<!-- ui_darkMode – theme switch -->
<script src="{{'/assets/javascript/ui_darkMode.js' | prepend: site.baseurl}}"></script>
<!-- ui_darkMode – theme switch – layout tablet -->
<script src="{{'/assets/javascript/ui_darkMode_layout_tablet.js' | prepend: site.baseurl}}"></script>
<!-- ui_custom-cursor – small -->
<script src="{{'/assets/javascript/ui_custom-cursor.js' | prepend: site.baseurl}}"></script>
<!-- ui_custom-cursor - large -->
<script src="{{'/assets/javascript/ui_custom-cursor_outer-circle.js' | prepend: site.baseurl}}"></script>
<!-- Preloader -->
<script src="{{'/assets/javascript/ui_preloader.js' | prepend: site.baseurl}}"></script>
<!-- content stage: rotate_pressAndHold -->
<script src="{{'/assets/javascript/content_stage_pressAndHold.js' | prepend: site.baseurl}}"></script>
<!-- content stage buzzwords: change type -->
<script src="{{'/assets/javascript/content_stage_buzzwords.js' | prepend: site.baseurl}}"></script>
<!-- content stage scroll – ouput text as individual chars -->
<script src="{{'/assets/javascript/content_stage_scroll.js' | prepend: site.baseurl}}"></script>
<!-- content stage bg-img: webgl animation -->
<!-- <script type="module" src="{{'/assets/javascript/content_stage_bg-img.js' | prepend: site.baseurl}}"></script> -->
<!-- Netlify RedirectToCMS -->
<script src="{{'/assets/javascript/netlify_redirectToCMS.js' | prepend: site.baseurl}}"></script>
