
<!------------->
<!-- scripts -->
<!------------->

<!-- ui_home – custom typeTransform  -->
<script src="{{'/assets/javascript/ui_home.js' | prepend: site.baseurl}}"></script>
<!-- content stage bg-type: wortmarke hartgeld -->
<!--<script type="module" src="{{'/assets/javascript/content_stage_bg-type.js' | prepend: site.baseurl}}"></script>-->

<!-- Preloader -->
<script src="{{'/assets/javascript/ui_preloader.js' | prepend: site.baseurl}}"></script>

<!-- flexFont -->
<script src="{{'/assets/javascript/flexFont/importSvg.js' | prepend: site.baseurl}}"></script>


<!-- Netlify RedirectToCMS -->
<script src="{{'/assets/javascript/netlify_redirectToCMS.js' | prepend: site.baseurl}}"></script>
