<script src="{{'/assets/javascript/ui_home_post.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_menu.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_darkMode_post.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_custom-cursor.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_custom-cursor_outer-circle.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/netlify_redirectToCMS.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_preloader_blank.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_menu_index-table.js' | prepend: site.baseurl}}"></script>