<!-------------------->
<!-- init libraries -->
<!-------------------->
<!-- netlify cms -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- jquery -->
<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<!-- ui_home – libraries: draw & animate type (https://github.com/simplefocus/FlowType.JS)-->
<script src="{{'/node_modules/simplefocus-flowtype-js/flowtype.js' | prepend: site.baseurl}}"></script>
<!-- ui_home – split text in seperate letter/spans: https://github.com/davatron5000/Lettering.js -->
<script src="{{'/node_modules/letteringjs/jquery.lettering.js' | prepend: site.baseurl}}"></script>
<!-- ui_home – curve type: https://circletype.labwire.ca -->
<script src="{{'/node_modules/circletype/dist/circletype.min.js' | prepend: site.baseurl}}"></script>
<!-- ui_menu – typeTransform Lib -->
<script src="{{'/node_modules/shuffle-text/build/shuffle-text.js' | prepend: site.baseurl}}"></script>
<!-- stage_bg-img – import OGL WebGL Framework -->
<script type="module" src="{{'/node_modules/ogl/src/Core.js' | prepend: site.baseurl}}"></script>
<!-- ui_custom-cursor: paper.js – the swiss army knife of vecotr graphic scripting -->
<!--<script type="module" src="{{'/node_modules/paper/dist/paper-core.js' | prepend: site.baseurl}}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.8/paper-full.min.js"></script>
<!-- ui_custom-cursor: simplex-noise.js is a fast simplex noise implementation -->
<!--<script type="module" src="{{'/node_modules/simplex-noise/simplex-noise.js' | prepend: site.baseurl}}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
  
