<!-------------------->
<!-- init libraries -->
<!-------------------->
<!-- netlify cms -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- jquery -->
<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<!-- ui_home – libraries: draw & animate type (https://github.com/simplefocus/FlowType.JS)-->
<script src="{{'/node_modules/simplefocus-flowtype-js/flowtype.js' | prepend: site.baseurl}}"></script>
<!-- ui_home – split text in seperate letter/spans: https://github.com/davatron5000/Lettering.js -->
<script src="{{'/node_modules/letteringjs/jquery.lettering.js' | prepend: site.baseurl}}"></script>
<!-- ui_home – curve type: https://circletype.labwire.ca -->
<script src="{{'/node_modules/circletype/dist/circletype.min.js' | prepend: site.baseurl}}"></script>

<script src="{{'/assets/javascript/flexFont/eve.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/flexFont/raphael.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/flexFont/raphael-svg-import.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/flexFont/p5.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/flexFont/p5.dom.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/flexFont/toxiclibs.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/flexFont/toxichelper.js' | prepend: site.baseurl}}"></script>
