<script src="{{'/assets/javascript/ui_home_post.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_home_post_shuffle-text.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_menu.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_darkMode_project.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_custom-cursor.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_custom-cursor_outer-circle.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_preloader_projects.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/ui_scroll.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/netlify_redirectToCMS.js' | prepend: site.baseurl}}"></script>
<script type='module' src="{{'/assets/javascript/content_footer_cta.js' | prepend: site.baseurl}}"></script>
<script type='module' src="{{'/assets/javascript/content_footer_copyright.js' | prepend: site.baseurl}}"></script>
