<!-- ui_home – custom typeTransform-->
<script src="{{'/assets/javascript/ui_home_post.js' | prepend: site.baseurl}}"></script>

<!-- ui_menu: custom text animation -->
<script src="{{'/assets/javascript/ui_menu.js' | prepend: site.baseurl}}"></script>

<!-- ui_darkMode – theme switch -->
<script src="{{'/assets/javascript/ui_darkMode.js' | prepend: site.baseurl}}"></script>

<!-- ui_custom-cursor – small -->
<script src="{{'/assets/javascript/ui_custom-cursor.js' | prepend: site.baseurl}}"></script>

<!-- ui_custom-cursor - large -->
<script src="{{'/assets/javascript/ui_custom-cursor_outer-circle.js' | prepend: site.baseurl}}"></script>

<!-- ui_darkMode – theme switch – layout tablet -->
<script src="{{'/assets/javascript/ui_darkMode_layout_tablet.js' | prepend: site.baseurl}}"></script>

<!-- Netlify RedirectToCMS -->
<script src="{{'/assets/javascript/netlify_redirectToCMS.js' | prepend: site.baseurl}}"></script>

<!-- Preloader -->
<script src="{{'/assets/javascript/ui_preloader.js' | prepend: site.baseurl}}"></script>

<!-- ui_menu_index-table (text-animation) -->
<script src="{{'/assets/javascript/ui_menu_index-table.js' | prepend: site.baseurl}}"></script>
