<!-- ui_home – custom typeTransform -->
<script src="{{'/assets/javascript/ui_home_post.js' | prepend: site.baseurl}}"></script>
<!-- ui_home_post shuffle text -->
<script src="{{'/assets/javascript/ui_home_post_shuffle-text.js' | prepend: site.baseurl}}"></script>
<!-- ui_menu: custom text animation -->
<script src="{{'/assets/javascript/ui_menu.js' | prepend: site.baseurl}}"></script>
<!-- ui_darkMode – theme switch -->
<script src="{{'/assets/javascript/ui_darkMode_project-overview.js' | prepend: site.baseurl}}"></script>
<!-- ui_custom-cursor – small -->
<script src="{{'/assets/javascript/ui_custom-cursor.js' | prepend: site.baseurl}}"></script>
<!-- ui_custom-cursor - large -->
<script src="{{'/assets/javascript/ui_custom-cursor_outer-circle.js' | prepend: site.baseurl}}"></script>
<!-- ui_darkMode – theme switch – layout tablet 
<script src="{{'/assets/javascript/ui_darkMode_layout_tablet.js' | prepend: site.baseurl}}"></script>-->
<!-- Preloader -->
<script src="{{'/assets/javascript/ui_preloader_about.js' | prepend: site.baseurl}}"></script>
<!-- footer copyright shuffle text-->
<script type='module' src="{{'/assets/javascript/content_footer_copyright.js' | prepend: site.baseurl}}"></script>

<!-- stage bg-img webgl -->
<script type='module' src="{{'/assets/javascript/contact_stage_bg-canvas.js' | prepend: site.baseurl}}"></script>
<!-- stage bg-img in View -->
<script type='module' src="{{'/assets/javascript/contact_stage_bg-img_inView.js' | prepend: site.baseurl}}"></script>

<!-- projects stage img, dark mode tint -->
<script src="{{'/assets/javascript/contact_stage_bg-type.js' | prepend: site.baseurl}}"></script>

<!-- ui_scroll div height & shuffle text -->
<script src="{{'/assets/javascript/ui_scroll.js' | prepend: site.baseurl}}"></script>

<!-- Netlify RedirectToCMS -->
<script src="{{'/assets/javascript/netlify_redirectToCMS.js' | prepend: site.baseurl}}"></script>

