
<div class="layout_ui_content">

  <div class="content_stage_head ui_type">
    concept art-direction motion ux ui prototype development
  </div>

  <!-- logo rotate in content stage -->
  <div class="layout_ui_home_mobile">
    <div class="rotate_logoType" style="z-index:-1;">
      <div id="stage_logoType" class="ui_type">
        ORM&#x200A;&centerdot;&#x200A;CODE&#x200A;&centerdot;&#x200A;TYPE&#x200A;&centerdot;&#x200A;HARTGELD&#x200A;&centerdot;&#x200A;F
      </div>
    </div>
  </div>

  <div class="ui_content">
    {{ content }}
  </div>
</div>
