
<!-- menu button & overlay -->
<div class="layout_ui_menu">
  <!--<button id="trigger-overlay" type="button" class="ui_menuButton" >-->
    <!-- menu icon -->
    <!--
    <div id="menu-toggle">
      <div id="hamburger">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
      </div>
      <div id="cross">
        <span class="burger"></span>
        <span class="burger"></span>
      </div>
    </div>
    -->
    <!-- menu type -->
    <div class="ui_menu_type" >
          <h1 class="ui_type" id="ui_menu_changeType">Menu</h1>
    </div>
  <!-- </button> -->
</div>

<!-- end: menu button & overlay -->
