<section>
  <div id="ui_menu_index">
      <table class="ui_menu_index_table" cellpadding="0" cellspacing="0">
          <thead>
              <tr>
                <th>index</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                  <a href="{{ site.url }}">
                    <span class="content_project_index_table_link">
                      Home
                    </span>
                  </a>
              </th>
            </tr>
            <tr>
              <th>
                  <a href="{{ site.url }}/project-overview">
                    <span class="content_project_index_table_link">
                      Projects
                    </span>
                  </a>
              </th>
            </tr>
            <tr>
              <th>
                  <a href="{{ site.url }}/about">
                    <span class="content_project_index_table_link">
                      About
                    </span>
                  </a>
              </th>
            </tr>
            <tr>
              <th>
                  <a href="{{ site.url }}/contact">
                    <span class="content_project_index_table_link">
                      Contact
                    </span>
                  </a>
              </th>
            </tr>
            <tr>
              <th>
                  <a href="{{ site.url }}/blog-overview">
                    <span class="content_project_index_table_link">
                      Notes
                    </span>
                  </a>
              </th>
            </tr>
            <tr>
              <th>
                  <a href="{{ site.url }}/mygram-overview">
                    <span class="content_project_index_table_link">
                      Mygram
                    </span>
                  </a>
              </th>
            </tr>
          </tbody>    
      </table>
  </div>
</section>
