#content_stage_bg-type{
  //display: none;
}

  #content_stage_bg-type{

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    margin-top: 0vh;
    height: 100vh;
    width: 100%;

    transition: opacity 0s linear;

  }
