

#content_projects_type{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_projects_img{

    width: 50vw;
    height: 50vh;
    background-image: url('/assets/graphics/publicSculp.png');
    position: absolute;

    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 280% auto;

    opacity: 0.75;
}


#content_projects_container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_projects_type_pos{
    position: absolute;
}

.content_projects_titles{
    position:absolute;
    z-index: 2;
    top: 0;
    padding-left: 1vw;

}

.content_projects_cta{
    position: absolute;
    z-index: 2;
    padding-left:1vw;
    padding-right: 1vw;
    padding-top:2em;
    padding-bottom: 2em;
    left: 20vw;
    bottom: 15vh;
}

.content_projects_cta_label{
    padding-top: 18px;
    margin-left: -165px;
    color: var(--color-bg);
}

.content_footer_cta_type_container:hover .content_footer_cta_arrow{
    color: var(--color-bg );
  }
  .content_footer_cta_type_container:hover .content_projects_cta_label{
    color: var(--color-type );
  }