
.content_project_index{
    position: relative;
    z-index: 2;
    min-height: 75vh;
    height: auto;
    width: 80vw;
    display: flex;
    justify-content: left;
    margin-left: 20vw;
    padding-top: 25vh;
    padding-bottom: 50vh;
    text-align: left;
}


table.content_project_index_table{
    display: block;
    width: 100%;
    text-align: left;
	vertical-align: middle;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

table.content_project_index_table { 
    & th a { 
        text-decoration: none; 
        display: block;
     } 
    & td a { 
        text-decoration: none;
        display: block; 
     }
    & thead{
        //$map: (576: 28, 768: 28, 992: 28);
        //height: least-squares-fit($map);
        font-family: 'Inter', sans;
        font-weight: 500;
        color: var(--color-type);
        $map: (576: 13, 768: 13, 992: 13);
        font-size: least-squares-fit($map);
        $map: (576: 28, 768: 28, 992: 28);
        line-height: least-squares-fit($map);
        letter-spacing: 0.5em;
        text-transform: uppercase;
        border-bottom: 1px solid var(--color-type);
        & th {
            width: 40vw;
            padding-left: 1vw;
            padding-bottom: 1em;          
            font-weight: 500!important;
        }
        & td {
            width: 20vw;
            padding-bottom: 1em;          

        }
    }
    & tbody{
        & tr {
            & th a {
                transition: color 0.5s;
            }
            & td a {
                transition: color 0.5s;
            }
            & th {
                transition: background-color 0.5s;
            }
            & td {
                transition: background-color 0.5s;
            }
            &:hover {
                & th {
                    background-color: var(--color-type);
                }
                & th a {
                    color: var(--color-bg);
                }
                & td {
                    background-color: var(--color-type);
                }
                & td a {
                    color: var(--color-bg);
                }
            }
        }
        & th {
            font-family: 'Cardo', serif;
            font-weight: 400;
            font-style: normal;
            font-variant-ligatures: normal;  
            color: var(--color-type);
            $map: (576: 28, 768: 30, 992: 32);
            font-size: least-squares-fit($map)!important;
            $map: (576: 62, 768: 66, 992: 70);
            line-height: least-squares-fit($map);
            border-bottom: 1px solid var(--color-type);
            padding-left: 1vw;  
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;    
        }
        & td {
            font-family: 'Inter', sans;
            font-weight: 500;
            font-style: normal;
            font-variant-ligatures: normal;  
            color: var(--color-type);
            $map: (576: 18, 768: 18, 992: 18);
            font-size: least-squares-fit($map)!important;
            $map: (576: 32, 768: 32, 992: 32);
            line-height: least-squares-fit($map);
            border-bottom: 1px solid var(--color-type);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#content_projects_index_bg-img{
    //position: -webkit-sticky; /* Safari */
    position: fixed;
    z-index: -5;
    top: 0vh;

    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100vh;
    width: 100vw;
  }


