.content_about{
/*
  display: flex;
  justify-content: center;
  align-items: flex-start;
*/
  /*
  height: 85vh;
  width: 60vw;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 15vh;
  padding-bottom: 0vh;

  text-align: left;
  */
}


.content_about_txt{

  font-weight: 500;
  color: var(--color-type);

  $map: (576: 28, 768: 30, 992: 32);
  font-size: least-squares-fit($map)!important;
  $map: (576: 38, 768: 40, 992: 42);
  line-height: least-squares-fit($map);
}


.about_txt_title{
  width: 79vw;
  margin-left: 20vw;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 25vh;
  padding-bottom: 1em;
  padding-left: 1vw;

  font-family: 'Inter', sans;
  font-weight: 500;
  color: var(--color-type);

  $map: (576: 13, 768: 13, 992: 13);
  font-size: least-squares-fit($map);
  $map: (576: 28, 768: 28, 992: 28);
  line-height: least-squares-fit($map);

  letter-spacing: 0.5em;
  text-transform: uppercase;
  
  //background-color: var(--color-bg);

  border-bottom: 1px solid var(--color-type);
}

.home_about{
  position: relative;
  z-index: 5;
}