.content_project_absicht{

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  text-align: center;
}

#absicht_logo{
  fill: var(--color-bg);

  transform: scale(0.75);
  -ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);

  //transform: translate(20%);
  transform-origin: center;
}

.shadow {
  -webkit-filter: drop-shadow( 0px 0px 100px var(--color-type));
  -moz-box-shadow: 0px 0px 100px var(--color-type);
  -webkit-box-shadow: 0px 0px 100px var(--color-type);
  box-shadow: 0px 0px 100px var(--color-type);
  filter: drop-shadow(0 70px 70px var(--color-type));
  /* Similar syntax to box-shadow */
  overflow: visible;
}

.content_project_absicht_txt{

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -100vh;
  height: 60vh;
  width: 60vw;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 20vh;
  padding-bottom: 20vh;

  text-align: left;
}

.content_project_absicht_txt_title{
  font-weight: 500;
  color: var(--color-type);

  $map: (576: 28, 768: 30, 992: 32);
  font-size: least-squares-fit($map)!important;
  $map: (576: 38, 768: 40, 992: 42);
  line-height: least-squares-fit($map);

  margin-bottom: least-squares-fit($map);





}
