

.content_project{

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  text-align: center;

  background-image: url('/assets/graphics/project_miele.png');
  background-size: cover;
  background-position: left;
}


.content_project_txt{

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 40vw;
  padding-left: 15vw;
  padding-right: 45vw;
  padding-top: 0;
  padding-bottom: 0;

  text-align: left;
  //margin-top: -100vh;
  z-index: 2;
}

.content_project_txt_title{
  font-weight: 500;
  color: var(--color-type);

  $map: (576: 28, 768: 30, 992: 32);
  font-size: least-squares-fit($map)!important;
  $map: (576: 38, 768: 40, 992: 42);
  line-height: least-squares-fit($map);

  margin-bottom: least-squares-fit($map);

  white-space: nowrap;
}

.content_project_txt_subtitle{
  font-weight: 500;
  color: var(--color-type);
  $map: (576: 10, 768: 10, 992: 10);
  font-size: least-squares-fit($map)!important;
  $map: (576: 20, 768: 20, 992: 20);
  line-height: least-squares-fit($map);
  letter-spacing: 0.5em;
  text-transform: uppercase;

  margin-bottom: least-squares-fit($map);
  
}

.content_project_empty-quickfix{

  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;
  width: 100vw;
  padding-left: 15vw;
  padding-right: 45vw;
  padding-top: 0;
  padding-bottom: 0;

  text-align: left;
  //margin-top: -100vh;
}
