@media only screen and (min-width: 1023px) {
  .content_stage_titles_buzzwords{
    display: flex;
    align-items: flex-start;
    //margin-left: 25vw;
    //margin-top: 25vh;
    //width: 75vw;
    //height: auto;
  }

  .content_stage_title{
    width: 100vw;
    height: 50vh;
    margin-left: 25vw;
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
  }
}
