.content_stage_titles{
  display: flex;
  flex-direction: column;
  margin-top: -100vh;
}

.content_stage_buzzwords{
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 75vw;
  height: 50vh;
}

.content_stage_title{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.content_stage_scroll-line{
  width: 50vw;
  height: 10vh;

  margin-top: -10vh;
  border-right: thick dotted $col_type;

  border-width:2px;

}
