#content_stage_bg-img{
  display: none;
}

@media only screen and (min-width: 1023px) {
  #content_stage_bg-img{
    position: fixed;
    /*
    top: -75vh;
    bottom: 15vh;
    left: 37.5vw;
    right: 15vw;
    */
    top: 0vh;
    bottom: 0vh;
    left: 0vw;
    right: 0vw;

    display: block;
    background-color: var(--color-bg);
    overflow: hidden;
    opacity: 1;
  }
}

#content_stage_bg-img > video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background: url('/assets/videos/stage_bg-vid/stage_bg-vid.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.5;
}
