
.content_stage_titles{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: -100vh;
}

.content_stage_titles_buzzwords{
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 75vw;
  height: 50vh;
}


.content_stage_title{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.content_stage_scroll{
  display: flex;
  width: 100vw;
  height: 10vh;
  margin-top: -10vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#content_stage_scroll_text{
  transform-origin: center center;
  transform: rotate(90deg);
  width: 10vh;
  height: auto;
  margin: 0;
  align-self: center;

  $map: (576: 10, 768: 10, 992: 10);
  font-size: least-squares-fit($map);

}

@media only screen and (min-width: 1023px) {

  .content_stage_scroll{
    padding-right: 5vw;
    display: flex;
    width: 100vw;
    height: 35vh;
    margin-top: -35vh;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }

  #content_stage_scroll_text{

    margin-right: 5vw;
    $map: (576: 11, 768: 11, 992: 11);
    font-size: least-squares-fit($map);
    //font-size: --var-type-h3;
  }
}
