.content_footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  padding-left: 25vw;
  padding-right: 25vw;
  text-align: center;
}

.content_footer_small{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 10vh;
  width: 50vw;
  padding-left: 25vw;
  padding-right: 25vw;
  text-align: center;
  margin-top: 20vh;
}

.content_footer_link{

  font-weight: 500;
  color: var(--color-highlight);

  $map: (576: 28, 768: 30, 992: 32);
  font-size: least-squares-fit($map)!important;
  $map: (576: 38, 768: 40, 992: 42);
  line-height: least-squares-fit($map);
}

#content_footer_copyright{
  position: absolute;
  z-index: 3;
  bottom: 10vh;
}