////////////////
/* load fonts */
////////////////

@font-face {
    font-family: 'Inter';
    src: local('Inter Thin'), local('Inter-Thin'),
        url('/assets/fonts/Inter-Thin-BETA.woff2') format('woff2'),
        url('/assets/fonts/Inter-Thin-BETA.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter ThinItalic'), local('Inter-ThinItalic'),
        url('/assets/fonts/Inter-ThinItalic-BETA.woff2') format('woff2'),
        url('/assets/fonts/Inter-ThinItalic-BETA.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Light'), local('Inter-Light'),
        url('/assets/fonts/Inter-Light-BETA.woff2') format('woff2'),
        url('/assets/fonts/Inter-Light-BETA.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter LightItalic'), local('Inter-LightItalic'),
        url('/assets/fonts/Inter-LightItalic-BETA.woff2') format('woff2'),
        url('/assets/fonts/Inter-LightItalic-BETA.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Italic'), local('Inter-Italic'),
        url('/assets/fonts/Inter-Italic.woff2') format('woff2'),
        url('/assets/fonts/Inter-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('/assets/fonts/Inter-Bold.woff2') format('woff2'),
        url('/assets/fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('/assets/fonts/Inter-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/Inter-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Black'), local('Inter-Black'),
        url('/assets/fonts/Inter-Black.woff2') format('woff2'),
        url('/assets/fonts/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
        url('/assets/fonts/Inter-BlackItalic.woff2') format('woff2'),
        url('/assets/fonts/Inter-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
