
@media only screen and (min-width: 1023px) {

  .ui_head{
      //margin-top: 50px;
      padding-top: -50px;
      flex-direction: row;
  }

  .layout_ui_home{
    //not visible on mobile
    visibility: visible;
    margin-left: 120px;
    // keep above overlay
    z-index: 2;
  }

}
