///////////////////
/* Layout / Grid */
///////////////////



html, body {
  overflow-x:hidden
}

body{
  background-color: $col_background;
  margin: 0;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

// contains ui_home and ui_menu
.ui_head{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    z-index: 2;
}

.layout_ui_home{
  width: auto;
  height: auto;

}

.layout_content_stage_pressAndHold{
  width: auto;
  height: auto;
}

.layout_ui_menu{

  //init flex
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0px;
  //set pointer
  cursor: pointer;

  //set menu button on top of overlay-menu
  z-index: 2;
}

.content_stage{
  position: relative;
}
