
@media only screen and (min-width: 1023px) {

  #ui_head{
      //padding-top: -50px;
      //flex-direction: row;
      justify-content: flex-start;
      visibility: hidden;
  }

  #ui_foot{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //margin-top: 100vh;
    bottom: 0;
    z-index: 3;
    visibility: hidden;
  }

  .layout_ui_home{
    //not visible on mobile
    visibility: visible;
    //margin-left: 120px;
    // keep above overlay
    z-index: 3;
  }

  .layout_ui_menu{

    //init flex
    margin-left: auto;
    visibility: visible;
  }

}
