///////////////////
/* Layout / Grid */
///////////////////

body{
  background-color: $col_background;
  margin: 0;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

// contains ui_home and ui_menu
.ui_head{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.layout_ui_home{
  width: auto;
  height: auto;
  //hide on moblie
  visibility: hidden;
}

.layout_ui_menu{

  //init flex
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0px;
  //set pointer
  cursor: pointer;

  //set menu button on top of overlay-menu
  z-index: 2;
}


// content area
.layout_ui_content{
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header"
                       "body"
                       "foot";
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.content_stage_head{
  align-self: end;
  margin-left: 5px;
  margin-right: 50px;
}

.layout_ui_home_mobile{
  width: auto;
  height: auto;
  visibility: visible;
  z-index:-1;
}



//to be removed
/*
.layout_comingSoon{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
  //init flex
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  justify-self: center;
}
*/
