

// Visible on mobile
.deviceVisibility_mobile{
  visibility: visible;
  position: relative;
  z-index: 1;
  //display: block;
}
.deviceVisibility_tablet{
  visibility: hidden;
  display: none;
}

// Visible on tablet
@media only screen and (min-width: 1023px) {
  .deviceVisibility_mobile{
    visibility: hidden;
    //display: none;
  }
  .deviceVisibility_tablet{
    visibility: visible;
    display: block;
  }
}
