///////////////////
/* Layout / Grid */
///////////////////

body{
  background-color: $col_background;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.grid{
  height: 100vh;
  display: grid;

  grid-template-columns: 1fr 1fr 5fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr;

  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  //justify-items: center;

}

.layout_ui_home{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  //init flex
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  justify-self: center;
}

.layout_ui_menu{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

.layout_ui_content{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.layout_comingSoon{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
  //init flex
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  justify-self: center;
}
