/* layout*/
.project_content{
  position: relative;
  height: auto;
  width: 34vw;
  padding-left: 33vw;
  padding-right: 33vw;
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.project_stage{
  position: relative;
  height: 70vh;
  width: 50vw;
  padding-left: 20vw;
  padding-right: 30vw;
  padding-top: 30vh;
  padding-bottom: 0vh;
}

.project_copy{
  position: relative;
  height: auto;
  width: 50vw;
  padding-left: 20vw;
  padding-right: 30vw;
  padding-top: 25vh;
  padding-bottom: 0vh;
}

/* video */
#project_video {
  position: relative;
  height: auto;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#project_video > video {
    width: 90vw;
    height: auto;
    object-fit: contain;
    border: 1px solid var(--color-type);
}

/* img */
.project_img {
  position: relative;
  min-height: 100vh;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.project_img > img{
  width: 90vw;
  height: auto;
}

/* type def */
.project_title{
  height: auto;
  text-align: left;
  margin: 0;
  $map: (576: 24, 768: 24, 992: 34);
  margin-bottom: least-squares-fit($map);
}

.project_subtitle{
  text-align: left;
  margin: 0;
  $map: (576: 20, 768: 20, 992: 20);
  margin-bottom: least-squares-fit($map);
}