////////////////
/* Typography */
////////////////

body { font-family: 'Inter', sans-serif; color: $col_type;}

p {
  font-weight: 400;
	color: $col_type;
  $map: (576: 24, 768: 24, 992: 34);
  font-size: least-squares-fit($map);
}

h1 {
  font-weight: 500;
  color: $col_type;
  $map: (576: 24, 768: 24, 992: 34);
  font-size: least-squares-fit($map);
}

h3 {
  font-weight: 300;
  color: $col_type;
  $map: (576: 11, 768: 11, 992: 11);
  font-size: least-squares-fit($map);
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.ui_type {
  font-weight: 500;
  color: $col_type;
  $map: (576: 13, 768: 13, 992: 13);
  font-size: least-squares-fit($map);

  letter-spacing: 0.5em;
  text-transform: uppercase;
}
