@media only screen and (min-width: 1023px) {

  h2 {
    $map: (576: 28, 768: 28, 992: 28);
    font-size: least-squares-fit($map);
    $map: (576: 40, 768: 40, 992: 40);
    line-height: least-squares-fit($map);
  }

  h3 {
    $map: (576: 11, 768: 11, 992: 11);
    font-size: least-squares-fit($map);
  }

}
