////////////////
/* Load Fonts */
////////////////

/* Inter */

@font-face {
    font-family: 'Inter';
    src: local('Inter Light'), local('Inter-Light'),
        url('/assets/fonts/Inter-Light-BETA.woff2') format('woff2'),
        url('/assets/fonts/Inter-Light-BETA.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('/assets/fonts/Inter-Bold.woff2') format('woff2'),
        url('/assets/fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
        url('/assets/fonts/Inter-Medium.woff2') format('woff2'),
        url('/assets/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Cardo */
@font-face {
    font-family: 'Cardo', serif;
    src: local('Cardo Regular'), local('Cardo-Regular'),
        url('/assets/fonts/Cardo/Cardo-Regular.ttf') format('ttf'),
        //url('/assets/fonts/Inter-Medium.woff') format('woff');
}

/* GenA-Koburi-Mincho 
@font-face {
    font-family: 'GenAKoburiMinchoHorizontal-Regular', serif;
    src: local('GenAKoburiMinchoHorizontal Regular'), local('GenAKoburiMinchoHorizontal-Regular'),
        url('/assets/fonts/GenA-Koburi-Mincho-main/Horizontal/GenAKoburiMinchoHorizontal-Regular.ttf') format('ttf'),
        //url('/assets/fonts/Inter-Medium.woff') format('woff');
}
*/