

.ui_darkMode_switch {
  display: inline-block;
  height: auto;
  position: relative;
  width: auto;
  cursor: pointer;
}

.ui_darkMode_switch input {
  display:none;
}

#ui_darkMode_switch_icon{
  font-size: 20px;
}

#ui_darkMode-switch_txt{
  display: none;
}

.hide_ui_darkMode_switch_txt{
  display: none;
}

@media only screen and (min-width: 1023px) {
  .hide_ui_darkMode_switch_txt{
    display: inline;
  }

  .ui_darkMode {
    display: none;
  }

  #ui_darkMode {
    //display: flex;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 20px;
    //margin-top: 150vh;
    bottom: 10vh;

    //align-items: center;
    margin-top: -10px;
    transform: rotate(-90deg);


  }
}
