#ui_home{
  margin-left: 50px;
}

#ui_home_btn {
  --scale-value_home-btn: 1;
  width: 160px;
  //height: auto;
  transform: scale3d(var(--scale-value_home-btn), var(--scale-value_home-btn), 1);
  transition: transform cubic-bezier(1.175, 0.885, 0.32, 0.1275) .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ui_home_btn:active {
  border-color: #003A75;
  background-color: #F2F5EA;
}
#ui_home_btn:hover {
  cursor: pointer;  
}
// rotate logoType
@-webkit-keyframes rotate_logoType /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate_logoType {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#rotate_logoType {
  --rotate-value_uiHome:60s;
  -webkit-animation: rotate_logoType var(--rotate-value_uiHome) linear infinite;
  -moz-animation: rotate_logoType var(--rotate-value_uiHome) linear infinite;
  -ms-animation: rotate_logoType var(--rotate-value_uiHome) linear infinite;
  -o-animation: rotate_logoType var(--rotate-value_uiHome) linear infinite;
  animation: rotate_logoType var(--rotate-value_uiHome) linear infinite;
}
