
// menu type
.ui_menu_type{
  display: inline-block;
  width: 100px;
  //margin-left: 75px;
  //margin-top: 32px;
}

// ui_menu.js script selector
.ui_menu_changeType{
  white-space: nowrap;
  overflow: hidden;
}
