////////////////////
/* SASS Variables */
////////////////////


///////////////////
/* CSS Variables */
///////////////////

:root {
  /* Typography */
  /* Color */
  --color-type: #121212;
  --color-bg: #F7F7F7;
  --color-bg-graf: #FFFFFF;
  --color-highlight: #E2948C;
}

[data-theme="dark"] {
  --color-type: #F7F7F7;
  --color-bg: #121212;
  --color-bg-graf: #000000;
  --color-highlight: #1D6B73;
}

// tablet
/*
@media only screen and (min-width: 1023px) {

  //h3
  $map: (576: 11, 768: 11, 992: 11);
  --var-type-h3: least-squares-fit($map);

}
*/
