////////////////////
/* SASS Variables */
////////////////////


///////////////////
/* CSS Variables */
///////////////////

:root {
  /* Typography */
  /* Color */
  --color-type: #4A4C4E;
  --color-bg: #C8CACC;
  --color-bg-graf: #C8CACC;
  --color-highlight: #4A4C4E;
}

[data-theme="dark"] {
  --color-type: #C8CACC;
  --color-bg: #4A4C4E;
  --color-bg-graf: #4A4C4E;
  --color-highlight: #C8CACC;
}

// tablet
/*
@media only screen and (min-width: 1023px) {

  //h3
  $map: (576: 11, 768: 11, 992: 11);
  --var-type-h3: least-squares-fit($map);

}
*/
