
/* Typography */
$font-size-base: 27px;

$col_type: #FFF;
$col_type_invert: #000;

$col_background: #000;
$col_background_invert: #FFF;

$color-link: blue;

$color-active: red;

// ?? $blockquote-font-size: $font-size-base;
