<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include ui_preloader_notes.html %}
      {% include ui_custom-cursor.html %}
      <div id="ui_head">
        <div class="deviceVisibility_tablet">
          {% include ui_home_post.html %}
        </div>
        {% include ui_menu.html %}
      </div>
      <div id="ui_foot">
        {% include ui_darkMode.html %}
      </div>
      {% include ui_menu_overlay.html %}
      <div id="content" class="scroll_snap">
        <div id="content-height">
          {% include ui_scroll.html %}
          {% include notes_stage_bg-canvas.html %}
          <section>
            <div class="content_blog-overview">
              <table class="blog-overview_table" cellpadding="0" cellspacing="0">
                <thead>
                  <tr>
                    <th>title</th>
                    <td>date</td>
                  </tr>
                </thead>
                <tbody>
                  {% assign sorted-blogposts = site.posts | sort: 'date' | reverse %}
                  {% for item in sorted-blogposts %}
                    <tr>
                        <th>
                            <a href="{{ site.url }}/{{item.url}}">
                                <span class="content_project_index_table_link">
                                  {{ item.title }}
                                </span>
                            </a>
                        </th>
                        <td>
                            <a href="{{ site.url }}/{{item.url}}">
                              {{ item.date | date: "%-d %B %Y" }}
                            </a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>    
            </table>
            </div>
          </section>
          {% include content_footer_small.html %}
        </div>
      </div>
    {% include scripts_foot_blog-overview.html %}
  </body>
</html>