<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include ui_preloader.html %}
    {% include ui_custom-cursor.html %}
    <div id="ui_head">
      <div class="deviceVisibility_tablet">
        {% include ui_home.html %}
      </div>
      {% include ui_menu.html %}
    </div>
    <div id="ui_foot">
      {% include ui_darkMode.html %}
    </div>
    {% include ui_menu_overlay.html %}

    <div id="content" class="scroll_snap">
      <div id="content-height">
        
        {% include ui_scroll.html %}
        
        <section>
          {% include content_stage.html %}
          {% include content_stage_pressAndHold_video.html %}
        </section>
        
        <section class="blog-post_content_height content_about" >
          <div class="project_content about_txt_title" >
            {{ page.subtitle }}
          </div>
          <div class="project_content project_txt" >
              {{ page.content }}
          </div>
        </section>

        <section >
          <div id="content_projects_container">
            <div class="blog-post_content_height content_projects_titles"  >
              <div class="project_content about_txt_title" >
                Archiv
              </div>
              <div class="project_content project_txt" >
                  <p>2010&#8202;&#8212;&#8202;ongoing</p>
              </div>
            </div>
            <div class="content_projects_img" ></div>
            <div class="content_projects_type_pos" id="content_projects_type">
              {% include content_projects_wortmarke.html %}
            </div>
            <div class="content_projects_cta">
              <a class="content_footer_cta_type" href="{{ site.url }}/project-overview/">
                <div class="content_footer_cta_type_container custom-cursor_hoverable content_projects_cta_type_container">
                  <div class = "content_footer_cta_arrow">
                    &#10149;
                  </div>
                  <div class="content_projects_cta_label">explore</div>
                </div>
              </a>
            </div>
          </div>
        
        </section>

        {% include content_footer.html %}

      </div>
    </div>

      {% include scripts_foot.html %}
  </body>
</html>
