<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include ui_preloader.html %}
    {% include ui_custom-cursor.html %}
    <div id="ui_head">
      <div class="deviceVisibility_tablet">
        {% include ui_home_blog.html %}
      </div>
      {% include ui_menu.html %}
    </div>
    <div id="ui_foot">
      {% include ui_darkMode.html %}
    </div>
    {% include ui_menu_overlay.html %}



<div id="content_blog">
  <table class="blog_index-table">

    <thead class="blog_index-table_head">
      <tr>
        <th class="ui_type">index</th>
      </tr>
    </thead>

    <tbody class="blog_index-table_body">
      {% for post in site.posts %}
      <tr>
        <td>
          <a class="blog_index_item custom-cursor_hoverable" href="{{ post.url }}">
            {{ post.title }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

    {% include scripts_foot_blog.html %}
  </body>
</html>
