<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include ui_preloader_mygram.html %}
    {% include ui_custom-cursor.html %}
    <div id="ui_head">
      <div class="deviceVisibility_tablet">
        {% include ui_home_post.html %}
      </div>
      {% include ui_menu.html %}
    </div>
    <div id="ui_foot">
      {% include ui_darkMode.html %}
    </div>
    {% include ui_menu_overlay.html %}
    <div id="content" class="scroll_snap">
      <div id="content-height">
        {% include ui_scroll.html %}
        {% include mygram_stage.html %}
        {% assign sorted-mygrams = site.mygram | sort: 'date' | reverse %}        
        {% for item in sorted-mygrams %}
          <section>
            <div class="mygram_item-container">
              <div class="mygram_img-container">
                {% if item.image %}
                  {% assign path = item.image %}
                  {% responsive_image_block %}
                    path: {{ path }}
                  {% endresponsive_image_block %}
                {% endif %}             
              </div>
              
              <div class="mygram_type-container">
                <span class="mygram_type_title">
                  {{ item.title }} &#8194;&frasl;&#8194; {{ item.content }} &#8194;&frasl;&#8194; {{ item.date | date: "%Y" }}
                </span>
              </div>
            </div>
          </section>
        {% endfor %}
        {% include content_footer.html %}
      </div>
    </div>
    {% include scripts_foot_blog-overview.html %}
  </body>
</html>