<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include ui_preloader.html %}
    {% include ui_custom-cursor.html %}
    <div id="ui_head">
      <div class="deviceVisibility_tablet">
        {% include ui_home_post.html %}
      </div>
      {% include ui_menu.html %}
    </div>
    <div id="ui_foot">
      {% include ui_darkMode.html %}
    </div>
    {% include ui_menu_overlay.html %}
    <div data-scroll-container id="myDataScrollContainer">
      <div id="content" >
        <div class="project_dieHaeftlinge_title">
          <h3 class="project_dieHaeftlinge_subtitle_type">{{ page.subtitle }}</h3>
          <h1 class="project_dieHaeftlinge_title_type"> {{ page.title }}</h1>
          <p>{{ page.content }}</p>
        </div>
        <div id="project_stage_video">
          <!--<img class="project_stage_hero-img" src="{{ site.baseurl }}{{ page.image_stage }}"/>-->
          <video loop muted autoplay >
            <source src="{{ site.baseurl }}/assets/videos/Mein-Film-54.webm" type="video/webm">
            <source src="{{ site.baseurl }}/assets/videos/Mein-Film-54.mp4" type="video/mp4">
            <source src="{{ site.baseurl }}/assets/videos/Mein-Film-54.ogg" type="video/ogg">
          </video>
        </div>
        <div class="project_img_fullscreen">
          <img src="{{ site.baseurl }}/assets/graphics/liMa_screens.png">
        </div>
      </div>
    </div>
    {% include scripts_foot_post.html %}
  </body>
</html>
